@model ITechArt.Blog.Models.Post


@{
    ViewBag.Title = "Edit Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { @class = "create-edit-form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Edit a Post</h4>
        @Html.HiddenFor(model => model.Id)
        <div class="create-edit-form-property-block">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "create-edit-form-field-name" })
            <div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "create-edit-form-field-property", autocomplete = "off" } })
            </div>
        </div>
        <div class="create-edit-form-property-block">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "create-edit-form-field-name" })
            <div>
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "create-edit-form-field-property", autocomplete = "off" } })
            </div>
        </div>
        <div class="create-edit-form-property-block">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "create-edit-form-field-name" })
            <div>
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "create-edit-form-field-property", autocomplete = "off" } })
            </div>
        </div>
        <div class="create-edit-form-property-block">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "create-edit-form-field-name" })
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "create-edit-form-field-property-desc", autocomplete = "off" } })
                @*<textarea autocomplete="off" class="create-edit-form-field-property-desc" data-val="true" data-val-required="The Description field is required." id="Description" name="Description" type="text" value="@Model.Description"></textarea>*@
            </div>
        </div>
        <div class="create-edit-form-property-block">
            <input type="submit" value="Edit Post" class="create-edit-form-send-btn" />
            <input type="button" value="Cancel" onclick="history.back();" class="create-edit-form-cancel-btn" />
        </div>
    </div>
}